<!DOCTYPE html>
<html lang="en">
  <head><% include partials/template/head.ejs %></head>

<body>

	<% include partials/template/header.ejs %>
	<p>The email address <%= mailingListEmailAddress %> is now added to our mailing list.  Woohoo!</p>
	<% include partials/template/footer.ejs %>
	<% include partials/template/jsdefaults.ejs %>
</body>
</html>