<!DOCTYPE html>
<html lang="en">
  <head><% include partials/template/head.ejs %>
	<script src="js/multipage_forms.js"></script>
  </head>

<body>

	<% include partials/template/header.ejs %>

	<% include partials/content/createprofile_content.ejs %>


	<% include partials/template/footer.ejs %>
	<% include partials/template/jsdefaults.ejs %>
</body>
</html>