body {
  padding-top: 70px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}


.vspacer20 {min-height: 20px;}
.vspacer50 {min-height: 50px;}

.centered-text {
    text-align:center;
}   

.alert {
	margin-bottom: 0px;
}