   <!-- simple black footer -->
    <footer class="footer footer-black">
                  <div class="container">
                    <a class="footer-brand" href="/">Bookezi</a>


                    <ul class="pull-center">
                      <li>
                        <a href="/about">
                           About
                        </a>
                      </li>
                      <li>
                        <a href="/contact">
                          Contact Us
                        </a>
                      </li>
                      <li>
                        <a href="/login">
                           Login
                        </a>
                      </li>
                      <li>
                        <a href="/signup">
                          Signup
                        </a>
                      </li>
                      <li>
                        <a href="/howitworks">
                          How It Works
                        </a>
                      </li>
                    </ul>

                    <ul class="social-buttons pull-right">
                      <li>
                        <a href="https://twitter.com/keepskills" target="_blank" class="btn btn-just-icon btn-simple">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.facebook.com/keepskills" target="_blank" class="btn btn-just-icon btn-simple">
                          <i class="fa fa-facebook-square"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/keepskills" target="_blank" class="btn btn-just-icon btn-simple">
                          <i class="fa fa-instagram"></i>
                        </a>
                      </li>
                    </ul>

                  </div>
                </footer>

                <!--   simple black footer    -->

