<body class="about-us">
  

  <div class="page-header header-filter" data-parallax="active" style="background-image: url('img/examples/bg9.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                    <h1 class="title">About Us</h1>
                        <h4>Meet the hard working team behind this project and find out more about how we work.</h4>
                </div>
            </div>
        </div>
  </div>

  <div class="main main-raised">
    <div class="container">
            <div class="about-description text-center">
                <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h5 class="description">Bookezi started as an idea for a final year project in the Enterprise Computing degree in DCU, we wanted an idea that could shake up an industry have an interest in and crucially it needed to be a potentially viable business. Six months later here we are, almost ready to launch the business for real.</h5>
            </div>
          </div>
            </div>
            <div class="about-team team-1">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="title">Meet the Co-Founders</h2>
              <h5 class="description">Currently a team of two, we have build this startup with many hundreds of hours of work and possibly several million cups of tea.</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                    <img class="img" src="img/faces/phil.jpg" />
                </div>

                <div class="content">
                  <h4 class="card-title">Philip O'Driscoll</h4>
                  <h6 class="category text-muted">CEO / Co-Founder</h6>

                  <p class="card-description">
                    Presenter, pitcher, drinker.
                  </p>
                  <div class="footer">
                    <a href="https://www.instagram.com/philyod" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/phily.odriscoll" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.linkedin.com/in/philip-o-driscoll-887bb5ab/" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>

                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                    <img class="img" src="img/faces/sean.jpg" />
                </div>

                <div class="content">
                  <h4 class="card-title">Sean McGrath</h4>
                  <h6 class="category text-muted">CTO / Co-Founder</h6>

                  <p class="card-description">
                    Designer, thinker, drinker.
                  </p>
                  <div class="footer">
                    <a href="https://twitter.com/mcgramcgramcgra" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/mcgramcgramcgra" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.linkedin.com/in/sean-mcgrath-711274b2/" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>


          </div>

            </div>
            <div class="about-services features-2">
                <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="title">Our Product is evolving</h2>
              <h5 class="description">This is a platform shaped by customers for customers. We urge you get in contact with us, tell us how we could better serve your needs. </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                    <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">gesture</i>
                </div>
                <div class="description">
                  <h4 class="info-title">1. Design</h4>
                  <p>We create features based on what real Teachers and Students tell us they want and need. Keep up with the latest news and development progress on our platform on the Bookezi blog. </p>
                  <a href="http://bookezi.wordpress.com">Bookezi Blog</a>
                </div>
                  </div>

                </div>

            <div class="col-md-4">
              <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">build</i>
                </div>
                <div class="description">
                  <h4 class="info-title">2. Feedback</h4>
                  <p>We gather as much feedback as we can. Get involved, head over to our contact page and get in touch with us today! </p>
                  <a href="./contact">Contact Bookezi</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">mode_edit</i>
                </div>
                <div class="description">
                  <h4 class="info-title">3. Plan Changes</h4>
                  <p>We redesign, add or remove features based on what YOU the customer tells us. Once we know what you want this three step process starts again....</p>
                </div>
              </div>
            </div>
          </div>
            </div>
            <div class="about-office">
                <div class="row  text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Our office is our second home</h2>
                        <h4 class="description">Currently our 'office' is DCU library! But not for long we are attempting to get hot desking space for summer 2017.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office2.jpg">
                    </div>
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office4.jpg">
                    </div>
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office3.jpg">
                    </div>
                    <div class="col-md-6" align="right">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office5.jpg">
                    </div>
                    <div class="col-md-6" align="left">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office1.jpg">
                    </div>

                </div>

            </div>
                        <div class="subscribe-line subscribe-line-white">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <h3 class="title">Subscribe to our newsletter!</h3>
                    <p class="description">
                      Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-plain card-form-horizontal">
                      <div class="content">
                        <form method="post" action="/addemail">
                          <div class="row">
                            <div class="col-sm-8">

                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="material-icons">mail</i>
                                </span>
                                <input type="email" value="" placeholder="Your Email..." class="form-control" name="mailingListEmailAddress"/>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <button type="submit" class="btn btn-rose btn-round btn-block">Subscribe</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

    </div>

</body>