<body class="about-us">
  

  <div class="page-header header-filter" data-parallax="active" style="background-image: url('img/bg9.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                    <h1 class="title">About Us</h1>
                        <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
                </div>
            </div>
        </div>
  </div>

  <div class="main main-raised">
    <div class="container">
            <div class="about-description text-center">
                <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
            </div>
          </div>
            </div>
            <div class="about-team team-1">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="title">Meet the Co-Founders</h2>
              <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="img/faces/marc.jpg" />
                  </a>
                </div>

                <div class="content">
                  <h4 class="card-title">Philip O'Driscoll</h4>
                  <h6 class="category text-muted">CEO / Co-Founder</h6>

                  <p class="card-description">
                    And I love you like Kanye loves Kanye. We need to restart the human foundation.
                  </p>
                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="img/faces/christian.jpg" />
                  </a>
                </div>

                <div class="content">
                  <h4 class="card-title">Sean McGrath</h4>
                  <h6 class="category text-muted">CEO / Co-Founder</h6>

                  <p class="card-description">
                    I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                  </p>
                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                  </div>
                </div>
              </div>
            </div>


          </div>

            </div>
            <div class="about-services features-2">
                <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="title">We build awesome products</h2>
              <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                    <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">gesture</i>
                </div>
                <div class="description">
                  <h4 class="info-title">1. Design</h4>
                  <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                  <a href="#pablo">Find more...</a>
                </div>
                  </div>

                </div>

            <div class="col-md-4">
              <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">build</i>
                </div>
                <div class="description">
                  <h4 class="info-title">2. Develop</h4>
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                  <a href="#pablo">Find more...</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">mode_edit</i>
                </div>
                <div class="description">
                  <h4 class="info-title">3. Make Edits</h4>
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                  <a href="#pablo">Find more...</a>
                </div>
              </div>
            </div>
          </div>
            </div>
            <div class="about-office">
                <div class="row  text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Our office is our second home</h2>
                        <h4 class="description">Here are some pictures from our office. You can see the place looks like a palace and is fully equiped with everything you need to get the job done.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office2.jpg">
                    </div>
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office4.jpg">
                    </div>
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office3.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office5.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="img/examples/office1.jpg">
                    </div>

                </div>

            </div>
                        <div class="subscribe-line subscribe-line-white">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <h3 class="title">Subscribe to our newsletter!</h3>
                    <p class="description">
                      Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-plain card-form-horizontal">
                      <div class="content">
                        <form method="post" action="/addemail">
                          <div class="row">
                            <div class="col-sm-8">

                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="material-icons">mail</i>
                                </span>
                                <input type="email" value="" placeholder="Your Email..." class="form-control" name="mailingListEmailAddress"/>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <button type="submit" class="btn btn-rose btn-round btn-block">Subscribe</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

    </div>

</body>