  <!--     *********     HEADER 2      *********      -->

    <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('img/background_stock_image.jpg');">
            <div class="container">
                <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="title">What would you like to learn?</h1>
                      <h4>We offer music lessons from qualified, trusted Teachers</h4>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <div class="card card-raised card-form-horizontal">
              <div class="content">
                <form action="/search" method="post">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" value="" placeholder="enter subject..." class="form-control" name="subject" />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                                <input type="text" value="" placeholder="enter location..." class="form-control" name="location" />
                              </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                      <button type="submit" class="btn btn-primary btn-block">Search</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
                </div>
            </div>
        </div>
    </div>

    <!--     *********    END HEADER 2      *********      -->






<div class="projects-2" id="projects-2">

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h6 class="text-muted">Music Lessons</h6>
          <h2 class="title">Private lessons from trusted Teachers</h2>
          <h5 class="description">You can trust our Teachers with bla bla bla and stuff and stuff and things. Make your first booking now below and help us avoid getting horrid corparate jobs.</h5>
          <div class="section-space"></div>
        </div>
      </div>




<div class="row">
        <div class="col-md-4">
          <div class="card card-raised card-background" style="background-image: url('./img/home/piano_panel.jpg')">
            <div class="content">
              <a href="./private-lessons/piano">
              <h3 class="card-title">Piano Lessons</h3>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-raised card-background" style="background-image: url('./img/home/guitar_panel.jpg')">
            <div class="content">
              <a href="./private-lessons/guitar">
              <h3 class="card-title">Guitar Lessons</h3>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-raised card-background" style="background-image: url('./img/home/singing_panel.jpg')">
            <div class="content">
              <a href="./private-lessons/singing">
              <h3 class="card-title">Singing Lessons</h3>
              </a>
            </div>
          </div>
        </div>
      </div> <!-- end row -->




      <div class="row">
        <div class="col-md-4">
          <div class="card card-raised card-background" style="background-image: url('./img/home/violin_panel.jpg')">
            <div class="content">
              <a href="./private-lessons/violin">
              <h3 class="card-title">Violin Lessons</h3>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-raised card-background" style="background-image: url('./img/home/drums_panel.jpg')">
            <div class="content">
              <a href="./private-lessons/drums">
              <h3 class="card-title">Drum Lessons</h3>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-raised card-background" style="background-image: url('./img/home/keyboard_panel.jpg')">
            <div class="content">
              <a href="./private-lessons/keyboard">
              <h3 class="card-title">Keyboard Lessons</h3>
              </a>
            </div>
          </div>
        </div>
      </div> <!-- end row -->



      <div class="row">
        <div class="col-md-4">
          <div class="card card-raised card-background" style="background-image: url('./img/home/recorder_panel.jpg')">
            <div class="content">
              <a href="./private-lessons/recorder">
              <h3 class="card-title">Recorder Lessons</h3>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-raised card-background" style="background-image: url('./img/home/electric_guitar_panel.jpg')">
            <div class="content">
              <a href="./private-lessons/electric_guitar">
              <h3 class="card-title">Electric Guitar Lessons</h3>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-raised card-background")">
            <div class="content">
              <a href="./private-lessons/singing">
              <h3 class="card-title">View All Lessons --></h3>
              </a>
            </div>
          </div>
        </div>
      </div> <!-- end row -->







    </div>
  </div>


            <!--   Newsletter Subscribe   -->

            <div class="subscribe-line subscribe-line-image" style="background-image: url('img/ADD_IMAGE.jpg');">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="text-center">
                      <h3 class="title">Subscribe to our Newsletter</h3>
                      <p class="description">
                        Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                      </p>
                    </div>

                    <div class="card card-raised card-form-horizontal">
                      <div class="content">
                        <form method="post" action="/addemail">
                          <div class="row">
                            <div class="col-sm-8">

                              <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="material-icons">mail</i>
                                </span>
                                <input type="email" value="" placeholder="Your Email..." class="form-control"  name="mailingListEmailAddress" id="addemail"/>

                              </div>
                            </div>
                            <div class="col-sm-4">
                              <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!--   Newsletter Subscribe    -->


<div class="testimonials-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h2 class="title">What Clients Say</h2>

        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card card-testimonial card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="img/faces/card-profile1-square.jpg" />
              </a>
            </div>

            <div class="content">
              <h4 class="card-title">Mike Andrew</h4>
              <h6 class="category text-muted">Guitar lessons</h6>
              <h5 class="card-description">"I speak yell scream directly at the old guard on behalf of the future. I gotta say at that time I’d like to meet Kanye I speak yell scream directly at the old guard on behalf of the future."
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-testimonial card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="img/faces/card-profile4-square.jpg" />
              </a>
            </div>

            <div class="content">
              <h4 class="card-title">Tina Thompson</h4>
              <h6 class="category text-muted">Yoga group lessons</h6>
              <h5 class="card-description">"I promise I will never let the people down. I want a better life for all!!! Pablo Pablo Pablo Pablo! Thank you Anna for the invite thank you to the whole Vogue team It wasn’t any Kanyes I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling"
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-testimonial card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="img/faces/card-profile6-square.jpg" />
              </a>
            </div>

            <div class="content">
              <h4 class="card-title">Gina West</h4>
              <h6 class="category text-muted">Poker sessions</h6>
              <h5 class="card-description">"I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound... Royère doesn't make a Polar bear bed but the Polar bear. This is a very nice testimonial about this company."
              </h5>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


