
     <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %> 


 <body class="signup-page">
    <div class="page-header header-filter" filter-color="ffc107" style="background-image: url('img/examples/bg6.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div class="card card-signup">
                        <h2 class="card-title text-center">Register</h2>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="info info-horizontal">
                                    <div class="icon icon-rose">
                                        <i class="material-icons">queue_music</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Tell us what you do</h4>
                                        <p class="description">
                                            Create a simple profile telling us what you can play, sing or teach
                                        </p>
                                    </div>
                                </div>

                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="material-icons">thumb_up</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Take Bookings</h4>
                                        <p class="description">
                                            We handle all the hard work for you and bring you customers
                                        </p>
                                    </div>
                                </div>

                                <div class="info info-horizontal">
                                    <div class="icon icon-success">
                                        <i class="material-icons">insert_emoticon</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Get Paid</h4>
                                        <p class="description">
                                            Directly into your bank account either weekly or monthly for the sessions you've given 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="social text-center">
                                    <a href="/auth/google">
                                    <button class="btn btn-just-icon btn-simple btn-google">
                                    <i class="fa fa-google"></i>    
                                    </button>
                                </a>

                                    <a href="/auth/facebook">
                                    <button class="btn btn-just-icon btn-simple btn-facebook">
                                        <i class="fa fa-facebook"> </i>
                                    </button>
                                </a>
                                
                                    <h4> or the old fashioned way... </h4>
                                </div>

                                <form class="form" action="/signup" method="post" role="form" data-toggle="validator">
                                    <div class="content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <input type="email" class="form-control" placeholder="Email..." name="email" required/>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <input type="password" placeholder="Password..." class="form-control" name="password" required/>
                                        </div>

                                        <!-- If you want to add a checkbox to this form, uncomment this code -->

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes" data-error="Please read and accept our terms before signing up. Thanks" required>
                                                I agree to the <a href="./termsandconditions" target="_blank">terms and conditions</a>.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                       <!-- <a href="/signup" class="btn btn-primary btn-round">JOIN US</a>-->
                                         <button type="submit" class="btn btn-primary btn-raised btn-round" >JOIN US</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</body>